services:

  postgres:
    image: postgres:16
    container_name: postgres
    environment:
      POSTGRES_DB: ricardo_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: ricardo123
    ports:
      - "5432:5432"
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres -d ricardo_db" ]
      interval: 5s
      timeout: 5s
      retries: 10

  minio:
    image: minio/minio
    container_name: minio
    command: server /data --console-address ":9001"
    environment:
      MINIO_ROOT_USER: minio
      MINIO_ROOT_PASSWORD: minio123
    ports:
      - "9000:9000"
      - "9001:9001"

  api:
    build: .
    container_name: api
    depends_on:
      - postgres
      - minio
    ports:
      - "8080:8080"