spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/ricardo_db
    username: postgres
    password: ricardo123
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  flyway:
    enabled: true

security:
  jwt:
    secret: minha-chave-secreta-muito-segura
    expiration: 300000
    refresh-expiration: 1800000